@import "../../Variables.scss";

.post-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding: 0 7.5px;

    &__empty-text{
        @include classic-text;

        font-size: 30px;
        font-weight: 300;
    }
}

